<div>
  <h2>Original URL: <%= @short_link.original_url %></h2>
  <h2>Shortened URL: <%= link_to "http://localhost/s/#{@short_link.short_url}", "/s/#{@short_link.short_url}", data: { turbolinks: false } %></h2>

  <h2>Admin URL: <%= link_to @short_link.uuid, admin_url(@short_link.uuid) %></h2>
</div>